name: RSS Feeds Update

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    - name: Run code
      run: |
        python -u rss-feeds.py
    
    - name: Deploy
      if: github.event_name != 'pull_request'
      run: |
          git diff --name-only --exit-code && exit 0
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add README.md
          git commit -m "Update Content [actions]"
          git push --all -f https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git
    
